.chat {
    color: #5588aa;
    display: flex;
    padding: 1rem;  
    background-color:#c7e5ff;
    align-items: center;    
    cursor: pointer;
}

.chat:hover {
    color:#1a485f;
}

.circleAvatar {
    width: 4.5rem;
    padding-right: 0.5rem;
}

.lastMessage {
    font-size: 0.95rem;
    padding-right: 0.2rem;
    font-weight: 300;
}

.getMessage {
    display: flex;
    flex-direction: column;
}

