.pageNumber {
    margin-right: 1rem;
    color: #497FA4;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    color: rgb(79, 117, 148);
}

.pagesWrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.choosePageInput {
    width: 37px;
    margin-right: 1.5rem;
}

.paginationButton {
    cursor: pointer;
    color: #497FA4;
    line-height: 25px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.paginationLeftButton {
    margin-right: 1rem;
}