.userPhotos {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.avatarGrid {
    display: flex;
    justify-content: space-between;
}

.item {
    cursor: pointer;
    transition: 0.3s;
}

.item > img {
    height: 51px;
    width: 51px;
}

.itemAvatar {
    margin-bottom: .3rem;
    height: 228px;
    width: 228px;
}