.friendsWrapper {    
    padding: 1rem;
}

.showMoreButton {
    
}

.pagesWrapper {
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
}

.pageNumber {
    margin-right: 1rem;
    color: white;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    color: rgb(178, 189, 250)
}