.friendContainer {
    margin-bottom: .5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #DAEEFD;
}

button {
    background-color: #DAEEFD;
    border: 1px solid black;
    border-radius: 7px;
    transition: ease-in-out all .3s;
    cursor: pointer;
}

button:hover {
    background-color: #3a7897;
    color: white;
}

.circleAvatar {
    width: 5rem;
    border-radius: 50%;
    margin-right: .6rem;
    cursor: pointer;
}

.userName {
    cursor: pointer;
}

.userStatus, .user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userStatus {
    align-items: center;
    max-width: 2rem;
    margin-right: 2rem;
}

.userCity {
    font-size: .85rem;
}

.aboutUser {
    display: flex;
    margin-left: 0.4rem
}

.followButton {
    cursor: pointer;
}

.userNavLink {
    color: black;
}