.dialogWrapper {   
    height: 100%; 
    display: grid;    
    grid-template-columns: 1fr 2.5fr;
    /* grid-template-rows: 70vh; */
    max-height: 800px;
    background-color: #90bed8;
    border-bottom-right-radius: 25px;
}

.selectChat { 
    max-width: 278px;
    overflow-x: hidden;    
}

.selectChat::-webkit-scrollbar, .messages::-webkit-scrollbar {
    width: 0.4rem;
}

.selectChat::-webkit-scrollbar-thumb, .messages::-webkit-scrollbar-thumb {
    background-color: #6192ac;
}

/* .emptyChatMessage {
    font-size: 1.3rem;
    color: white;
    text-align: center;
    align-self: center;
} */

.messages {    
    overflow: auto;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    overflow: auto;
}


.chatBlock {
    font-size: 1.2rem;
    border-top: 2px solid white;
}

.chatInput {
    padding: 0.3rem;
    box-sizing: border-box;
    color:rgb(255, 255, 255);
    font-weight: bolder;
    background-color: #6192ac;
    height: 4rem;
    border: none;
    width: 100%;
    border-bottom-right-radius: 25px;
}

.chatInput::placeholder {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.527);
}

.chatInput:focus {
    outline: none;
}